body{
    background-color: darkolivegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.whitebox{
    border: 2px solid white;
}

.mainhead{
    color: white;
}

.subhead{
    color: white;
}

.txt{
    color: white;
}

.iconrow{
    padding-left: 10px;
    padding-right: 10px;
    height:150px;
}

.centertable{
    margin-left: auto;
    margin-right: auto;
}